h1{
      color:#f1c40f;
  border:1px solid #3498db;
    background: #3498db
    }
h3{
  color:#1abc9c;
  border:1px solid#2c3e50;
}
h2{
  color:red;
}
html{
  background:url("https://lh3.googleusercontent.com/DGE00aH6NWOvCd4zBuiLrpWvp8uMQPVcHJzul8vqXneU5A9He5mQXOzGdgOuABJTYmJNzknK09IdNAgJ7mBvALwt9wqO6nPTdRG6SQ3Gq5iP3WrDql0TQm5wStsZb9t84XYntcOWtG78vSdej2PT3WC3wuHb_FgAVmBq4f4h-ZBNSjcYrlFq-0FZbcG5UffRmkp7DDnSdXXahpg26oEc1q5J7BfJq5PdNmjbx5A1QvpqfR7rZ61H-3Hpla9pcfSbB1fbwyDH-6kpVr9JvVMBjNslszCcbyvW-HBlA7IwxxVsG79Z0RNQCMxU-Nd2DmEqa51VAoDZABdL3SJpYDHuwNlr-5CAuvgVW72reqqW1QWiZwnEl4scANRHZlRUfmdg2lzwlNXL9Xe-6jZ7tZohbo9Xe86WZcY5QZOBoktAoHjecrHqeC7iw9o_XNMyWsXPPUZDclJJIftyIQ36yUWuJsHliOPB8SJARmsY1UxqdSVgTIJvI09gHkrgcCIHrpjhjm1aE6mjVjV3iZxQ4ENX9bRQi3QfE7Ik-xOzoezaJkWofq8K4T18fNcQ0UM-wvz6jwTx8jEeyU6-nz-wOvKwt2iEdpQ6W9hzE1BW4K7WgI6NzRpajhUBXs-f1gmQj-kK7wDGNnuWZU2Qwe_0ykoaKwzF1x5VT-PyWLSVWwNUOkXsiaoOP_42pUymgGHfvuvRGZuSs2qpdap-3vty4bGl8Es=w1224-h816-no?authuser=0");
}
