<! DOCTYPE html>
<html lang = " en " >
  <head>
    <meta charset = " utf-8 " />
    <meta name = " viewport " content = " width = device-width, initial-scale = 1 " />
    <link rel = " icon " href = " https://glitch.com/favicon.ico " />
    <title> phim hay.net </title>
    <link rel = " canonical " href = " https://glitch-hello-website.glitch.me/ " />

   </body>
  <style>
    h2{
      color:blue;
    }
  </style>
  <link rel="stylesheet"href="index.css"/>
      <! -   1 . hiển thị nội dung
2 . get user information ->

    <h1>
      Xem Phim miển phí 
      </h1>
  <h2>
   Top 3 bộ phim hay nhất
    </ h2>
  
  </h3>
       <h3>
     Top1:Sát thủ John Wick - John Wick ( 2014 )
      </h3>
   <h4>
  <a href="https://www.ssphim.net/p/xem-phim-sat-thu-john-wick-john-wick-2014"> link phim Sát thủ John Wick - John Wick (2014) </a>
   </h4>
    
       <h5>
<img src ="https://upload.wikimedia.org/wikipedia/vi/2/23/S%C3%A1t_th%E1%BB%A7_John_Wick-Ph%E1%BA%A7n_2.jpg"/>
  </h5>
       <h3>
Top2:.Kế hoạch đào tẩu 2
  </h3>
  <h4>
  <a href="https://vieon.vn/ke-hoach-dao-tau-2-dia-nguc.html"> link phim Kế hoạch đào tẩu 2</a>
  </h4>
    <h5>
<img src ="https://upload.wikimedia.org/wikipedia/vi/7/78/K%E1%BA%BF_ho%E1%BA%A1ch_%C4%91%C3%A0o_t%E1%BA%A9u_2_%C4%90%E1%BB%8Ba_ng%E1%BB%A5c_poster.jpg"/>
  </h5>
     <h3>
    Top3:Vệ sĩ sát thủ
      </h3>
  <h4>
  <a href="https://sphimle.com/xemphim/ve-si-sat-thu-1-1/dIKd.html"> link phim Vệ sĩ sát thủ </a>
  </h4>
    <h5>
<img src ="https://upload.wikimedia.org/wikipedia/vi/4/46/Hitman_Wife_Bodyguard_VN_poster.jpg"/>
  </h5>
  </body>
</html>
  </body>
</html>
